{% extends "base.html" %}
{% block title %} dodaj nowe zadanie {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

<form action="#" method="POST">
    <div class="card">
        <div class="card-header">
            Dodaj zadanie
          </div>
        <div class="mb-3">
            <label for="titleInput" class="form-label">Tytuł</label>
            <input type="text" name = "title" id="titleInput">
        </div>
        <div class="mb-3">
            <label for="contentInput" class="form-label">Treść</label>
            <input type="text" name = "content" id="contentInput">
        </div>
        <div class="mb-3">
            <input type="submit" value="submit" class="btn btn-primary">
        </div>
    </div>
    
</form>
{% endblock %}