{% extends "base.html" %}
{% block title %} view tasks {% endblock %}

{%block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">title</th>
            <th scope="col">content</th>
            <th scope="col">przycisk jakis fajny</th>
            </tr>
        </thead>

        <tbody>
            {% for task in tasks %}
        
            <tr>
                <td>{{ task["title"] }}</td>
                <td>{{task["content"]}}</td>
                <td>
                    <form method="post" action="{{ url_for('delPost', _id=task["_id"]) }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                </td>
            </tr>
            
        {% endfor %}
        </tbody>
        </table>


<!-- <table border=1>
    {% for task in tasks %}
        
        <tr>
            <th> title </th>
            <td> {{ task["title"] }} </td>
            <th>content</th>
            <td>{{task["content"]}}</td>
        </tr>
        
    {% endfor %}
</table> -->


{% endblock %}