{% extends "base.html" %}

{% block title %} User {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{message}}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %} 
<form action="#" method="post">
    <input type="email", name="email" placeholder="Podaj email" value="{{email if email}}" />
    <input type="submit" value="submit"/>
</form>
{% endblock %}